<div class="ui grid">
    <div class="row">
        <div class="one column">
            <!-- KEEP ME -->
        </div>
    </div>
</div>

<div class="ui grid">
    <div class="row">
        <div class="one column">
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th>Název</th>
                        <th>Cena</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="editable">
                            <input type="text" ng-model="newItem.name" placeholder="Zadejte název služby" />
                        </td>
                        <td class="editable">
                            <input type="number" ng-model="newItem.price" placeholder="Zadejte cenu služby" />
                        </td>
                        <td>
                            <a class="ui basic button" ng-click="save(newItem)">
                                <i class="save icon"></i> Vložit
                            </a>
                        </td>
                    </tr>
                    <tr ng-repeat="item in services">
                        <td class="editable">
                            <input type="text" ng-model="item.name" placeholder="Zadejte název služby" />
                        </td>
                        <td class="editable">
                            <input type="number" ng-model="item.price" placeholder="Zadejte cenu služby" />
                        </td>
                        <td>
                            <a class="ui basic button" ng-click="remove(item)">
                                <i class="remove red icon"></i> Smazat
                            </a>
                            <a class="ui basic button" ng-click="save(item)">
                                <i class="save icon"></i> Uložit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>