<!-- new user form -->
<div class="ui grid" ng-controller="ANewUserController">
  <div class="ui small form">
    <div class="two fields">
      <div class="field">
        <label>First Name</label>
        <input placeholder="Jméno" type="text" ng-model="user.firstName">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input placeholder="Přijmení" type="text" ng-model="user.lastName">
      </div>
    </div>
    <div class="ui submit button" ng-click="createUser()" >Vytvořit</div>
  </div>
  <!-- new user form - end -->
</div>