<div ng-controller="AUsersController">
<div class="ui grid">
  <div class="row">
    <div class="three wide column">
      <div class="ui button" ui-sref="newUser">Nový uživatel</div>
    </div>
    <div class="ten wide column">
      <p></p>
    </div>
    <div class="three wide column">
      <img>
    </div>
  </div>
</div>


<!-- all users table -->
<table class="ui celled striped table">
  <thead>
    <tr>
      <th>Jméno</th>
      <th>Email</th>
      <th>Telefon</th>
      <th>Role</th>
      <th>Odstranit</th>
    </tr>
  </thead>
  <tbody ng-repeat="user in users">
    <tr>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.role}}</td>
      <td><i class="remove user icon" ng-click="removeUser(user._id)"></i></td>
    </tr>
  </tbody>
</table>
<!-- all users table - end -->

</div>
