<!-- new user form -->

<div class="ui attached message">
    <div class="header">
        Pokoj
    </div>
</div>
<form class="ui form attached fluid segment">
    <div class="field">
        <label>Identifikátor</label>
        <input placeholder="Identifikátor" type="text" ng-model="room.ID">
    </div>
    <div class="two fields">
        <div class="field">
            <label>Typ pokoje</label>
            <select ng-options="roomType.name for roomType in roomTypes track by roomType.code" class="ui dropdown" ng-model="room.roomType">
                <option value="">Vyberte typ pokoje</option>
            </select>
        </div>
        <div class="field">
            <label>Cena za noc</label>
            <div class="ui right labeled input">
                <input type="text" placeholder="Cena" ng-model="room.price">
                <div class="ui basic label">
                    CZK
                </div>
            </div>
        </div>
    </div>
</form>
<div class="ui attached message">
    <div class="header">
        Místnosti
        <div class="field">
            <div class="ui floating labeled icon dropdown button">
                <i class="plus icon"></i>
                <span>Přidat místnost</span>
                <div class="menu">
                    <div ng-repeat="item in premisesType" class="item" ng-click="addPremises(item.id)">
                        {{item.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form ng-repeat="premisesItem in premises" class="ui form attached fluid segment">
    <div class="field">
        <label>Typ místnosti</label>
        <select ng-options="item.id as item.name for item in premisesType" class="ui dropdown" ng-model="premisesItem.premisesType">
            <option value="">Vyberte typ místnosti</option>
        </select>
    </div>
    <div class="field">
        <a ng-click="removePremises($index)" class="ui button basic">
            <i class="remove red icon"></i>
            Odstranit místnost
        </a>
    </div>
</form>
<div class="ui bottom attached message">
    <a ng-click="save()" class="ui button fontWhite BGOrange">
        <i class="save icon"></i>
        Uložit
    </a>
</div>

