<div class="ui grid">
  <div class="row">
    <div class="three wide column">
      <div class="ui button" ui-sref="newUser">Nový uživatel</div>
    </div>
    <div class="ten wide column">
      <p></p>
    </div>
    <div class="three wide column">
      <img>
    </div>
  </div>
</div>


<!-- all users table -->
<table class="ui celled striped table">
  <thead>
    <tr>
      <th>Jméno</th>
      <th>Email</th>
      <th>Telefon</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody ng-repeat="user in users">
    <tr>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.role}}</td>
      <td>
          <a class="ui basic button">
              <i class="remove red icon" ng-click="removeUser(user._id)"></i> Smazat
          </a>
          <a class="ui basic button">
              <i class="write icon" ng-click="editUser(user._id)"></i> Editovat
          </a>
      </td>
    </tr>
  </tbody>
</table>
<!-- all users table - end -->