/* Responsive menu */
*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #EBEBEB;
}

.ui.navbar {
	width: 100%;
    border-radius: 0rem;
}

.padding-reset{
	padding: 0px !important;
}

.ui.message{
	padding: 40px !important;
}

@media (max-width: 767px) {
  	.ui.inverted.navbar{
	}
}

.ui.vertical.menu{
	margin-top: -15px !important;
	width: 100%;

}

.ui.grid {
    background: white;
}

.ui.grid.content {
    background: #EBEBEB;
}

.ui.menu.navbar a.item {
    text-transform: uppercase;
    border-radius: 0rem;
}

td input {
    width: 100%;
    border: none;
    border-bottom: solid 1px #EBEBEB;
    outline: none;
    padding: .355rem;
    padding-left: 0rem; 
    background: inherit;
}

td.editable {
    padding-top: .355rem;
    padding-bottom: .355rem;
}

.ui.menu.navbar .item .icon {
    margin-left: 0.5rem;
}

.ui.menu.navbar .active.item {
	background-color: #F49200;
    color: white;
}
/* Reposive menu - end */

tbody tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

/* Other */
.BGGrey {
    background-color: #EBEBEB !important;
}

.BGOrange{
	background-color: #F49200 !important;
}

.BGGreyDark{
	background-color: #666666 !important;
}

.fontWhite{
	color: white !important;
}

.fontOrange{
	color: #F49200;
}

.fontBlue{
	color: #15548C;
}

.fontBlue2{
	color: #428BCA;
}

.height100{
	 height: 100%;
} 

.maxWidth30{
	max-width: 30em;
}

a.whiteLink {
	color: white;
}

.floatNone{
	float: none !important;
}

.grid-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Other - end */