<div class="ui grid">
  <!-- desktop/tablet menu -->
  <div class="computer tablet only row">
    <div class="ui menu navbar">
      <a ui-sref="dashboard" class="item">NÁSTĚNKA</a>
      <a href="" class="active item">KONFERENCE</a>
      <a href="" class="item">HELPDESK</a>
      <a href="" class="item">ÚČASTNÍCI</a>
      <a ui-sref="users"  class="item">UŽIVATELÉ</a>

      <!-- DROP-DOWN ITEM (funkcni) - kdyby bylo potreba -->
                <!--
                <a class="ui dropdown item">Dropdown
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item">Action</div>
                    <div class="item">Another action</div>
                    <div class="item">Something else here</div>
                    <div class="ui divider"></div>
                    <div class="item">Seperated link</div>
                    <div class="item">One more seperated link</div>
                  </div>
                </a>
              -->

      <div class="right menu">
        <a href="" class="item">UŽIVATEL<i class="setting icon"></i></a>
        <a ui-sref="login" class="item"><i class="sign out icon"></i></a>
      </div>
    </div>
  </div>
  <!-- desktop/tablet menu - end -->

  <!-- mobile menu -->
  <div class="mobile only narrow row">
    <div class="ui navbar menu">
      <a ui-sref="dashboard" class="brand item">NÁSTĚNKA</a>
      <div class="right menu open">
        <a ng-model="collapsed" ng-click="collapsed=!collapsed" href="" class="menu item">
          <i class="sidebar icon"></i>
        </a>
      </div>
    </div>
    <div ng-show="collapsed" class="ui vertical navbar menu">
      <a href="" class="active item">KONFERENCE</a>
      <a href="" class="item">HELPDESK</a>
      <a href="" class="item">ÚČASTNÍCI</a>
      <a ui-sref="users"  class="item">UŽIVATELÉ</a>
      <a href="" class="item">UŽIVATEL<i class="setting icon floatNone"></i> </a>
      <a ui-sref="login" class="item">LOGOUT<i class="sign out icon floatNone"></i></a>

      <!-- DROP-DOWN ITEM (funkcni) - kdyby bylo potreba -->
      <!--
      <div class="ui item">
        <div class="text">Dropdown</div>
        <div class="menu">
          <a class="item">Action</a>
          <a class="item">Another action</a>
          <a class="item">Something else here</a>
          <a class="ui aider"></a>
          <a class="item">Seperated link</a>
          <a class="item">One more seperated link</a>
        </div>
      </div>
      -->
    </div>
  </div>
  <!-- mobile menu - end -->
</div>



