<div class="ui grid">
    <div class="row">
        <div class="three wide column">
            <a class="ui button fontWhite BGOrange" ui-sref="home.customers.new">
                <i class="plus icon"></i>
                Nový zákazník
            </a>
        </div>
        <div class="ten wide column">
            <p></p>
        </div>
        <div class="three wide column">
            <img>
        </div>
    </div>
</div>


<!-- all users table -->
<div class="ui grid">
    <div class="row">
        <div class="one column">
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th>Jméno</th>
                        <th>Adresa</th>
                        <th>Číslo OP</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ng-repeat="customer in customers">
                    <tr>
                        <td>{{customer.name}}</td>
                        <td>{{customer.address}}</td>
                        <td>{{customer.ID}}</td>
                        <td>
                            <a class="ui basic button" ng-click="remove(customer._id)">
                                <i class="remove red icon"></i> Smazat
                            </a>
                            <a class="ui basic button" ui-sref="home.customers.detail({customerId: customer._id})">
                                <i class="write icon"></i> Editovat
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- all users table - end -->