<!-- new user form -->

<div class="ui attached message">
    <div class="header">
        Rezervace
    </div>
</div>
<form class="ui form attached fluid segment">
    <div class="field">
        <div class="ui floating labeled icon dropdown button">
            <i class="user icon"></i>
            <span class="text">Volba zákazníka</span>
            <div class="menu">
                <div class="item">
                    <i class="add user icon"></i> Vytvorit nového zákazníka
                </div>
                <div class="divider"></div>
                <div class="header">
                    Vyhledat zákazníka
                </div>
                <div class="ui left icon input">
                    <i class="search icon"></i>
                    <input type="text" name="search" placeholder="Search...">
                </div>
                <div ng-click="setCustomer(customer)" ng-repeat="customer in customers" class="item">
                    {{customerToString(customer)}}
                </div>
            </div>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Pocet dospelých</label>
            <input placeholder="Pocet dospelých" type="number" ng-model="reservation.numberOfAdults">
        </div>
        <div class="field">
            <label>Pocet detí</label>
            <input placeholder="Pocet detí" type="number" ng-model="reservation.numberOfChildren">
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Datum zacátku pobytu</label>
            <input type="date" ng-model="reservation.dateFrom" format-date>
        </div>
        <div class="field">
            <label>Datum konce pobytu</label>
            <input type="date" ng-model="reservation.dateTo" format-date>
        </div>
    </div>
    <div class="field">
        <label>Pokoj</label>
        <select ng-options="(item.ID + ' ' + item.roomType.name + ' za ' + item.price + 'CZK') for item in rooms track by item._id"
        ng-model="reservation.room">
            <option disabled value="">Vyberte pokoj</option>
        </select>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Typ penze</label>
            <select ng-options="(item.name + ' za ' + item.value + 'CZK') for item in pensionTypes track by item.code" class="ui dropdown"
            ng-model="reservation.pensionType">
                <option value="">Vyberte penzi</option>
            </select>
        </div>
        <div class="field">
            <label>Zpusob platby</label>
            <select ng-options="item.name for item in paymentTypes track by item.code" class="ui dropdown" ng-model="reservation.paymentType">
                <option value="">Vyberte zpusob platby</option>
            </select>
        </div>
    </div>
</form>
<div class="ui attached message">
    <div class="header">
        Služby
    </div>
</div>
<table class="ui celled attached striped table">
    <thead>
        <tr>
            <th>Název služby</th>
            <th>Pocet</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="editable">
                <select ng-options="item.name for item in services" class="ui dropdown" ng-model="newReservationService.service">
                    <option value="">Vyberte službu</option>
                </select>
            </td>
            <td class="editable">
                <input type="number" ng-model="newReservationService.count" placeholder="Zadejte pocet" />
            </td>
            <td>
                <a class="ui basic button" ng-click="addService(newReservationService)">
                    <i class="save icon"></i> Vložit
                </a>
            </td>
        </tr>
        <tr ng-repeat="service in reservation.services">
            <td class="editable">
                <select ng-options="item.name for item in services track by item._id" class="ui dropdown" ng-model="service.service">
                    <option value="">Vyberte službu</option>
                </select>
            </td>
            <td class="editable">
                <input type="number" ng-model="service.count" placeholder="Zadejte cenu služby" />
            </td>
            <td>
                <a class="ui basic button" ng-click="removeService($index)">
                    <i class="remove red icon"></i> Smazat
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div class="ui attached message">
    <div class="header">
        Kalkulace
    </div>
</div>
<table class="ui celled attached striped table">
    <thead>
        <tr>
            <th>Obecné</th>
            <th>Pocet</th>
            <th>Cena za položku</th>
            <th>Suma</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-if="reservation.room">
            <td>Pokoj</td>
            <td>{{calculation.numberOfDays}}</td>
            <td>{{reservation.room.price}}</td>
            <td>{{calculation.room}}</td>
        </tr>
        <tr ng-if="reservation.pensionType">
            <td>Stravování dospelí</td>
            <td>{{calculation.numberOfDays * reservation.numberOfAdults}}</td>
            <td>{{reservation.pensionType.value}}</td>
            <td>{{calculation.pensionAdults}}</td>
        </tr>
        <tr ng-if="reservation.pensionType">
            <td>Stravování deti</td>
            <td>{{calculation.numberOfDays * reservation.numberOfChildren}}</td>
            <td>{{reservation.pensionType.value}} * 0.7</td>
            <td>{{calculation.pensionChildren}}</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>Služby</th>
            <th>Pocet</th>
            <th>Cena za položku</th>
            <th>Suma</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="service in reservation.services">
            <td>{{service.service.name}}</td>
            <td>{{service.count}}</td>
            <td>{{service.service.price}}</td>
            <td>{{service.service.price * service.count}}</td>
        </tr>
        <tr>
            <td><b>Celkem</b></td>
            <td></td>
            <td></td>
            <td><b>{{calculation.overall}}</b></td>
        </tr>
    </tbody>
</table>
<div class="ui bottom attached message">
    <a ng-click="save()" class="ui button fontWhite BGOrange">
        <i class="save icon"></i> Uložit
    </a>
    <a ng-click="reservationStateChanged(1)" class="ui button fontWhite BGOrange" ng-if="reservation.state == 0">
        <i class="check circle outline icon"></i> Potvrdit
    </a>
    <a ng-click="reservationStateChanged(2)" class="ui button fontWhite BGOrange" ng-if="reservation.state == 0">
        <i class="remove circle icon"></i> Stornovat
    </a>
    <a ng-click="reservationStateChanged(3)" class="ui button fontWhite BGOrange" ng-if="reservation.state == 1">
        <i class="dollar icon"></i> Potvrdit platbu
    </a>
</div>