<div class="ui grid">
    <div class="row">
        <div class="three wide column">
            <a class="ui button BGOrange fontWhite" ui-sref="home.reservations.new">
                <i class="plus icon"></i>
                Nová rezervace pokoje
            </a>
        </div>
        <div class="ten wide column">
            <p></p>
        </div>
        <div class="three wide column">
            <img>
        </div>
    </div>
</div>

<!-- START all reservations table -->
<div class="ui grid">
    <div class="row">
        <div class="one column">
            <table class="ui celled striped table">
                <thead>
                    <tr>
                        <th>Pokoj</th>
                        <th>Datum</th>
                        <th>Zákazník</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ng-repeat="reservation in reservations">
                    <tr>
                        <td>{{reservation.room.ID}}</td>
                        <td>{{reservation.dateFrom}} {{reservation.dateTo}}</td>
                        <td>{{reservation.customer.name}} CZK</td>
                        <td>
                            <a class="ui basic button" ng-click="reservation(room._id)">
                                <i class="remove red icon"></i> Smazat
                            </a>
                            <a class="ui basic button" ui-sref="home.administration.room-detail({roomId: room._id})">
                                <i class="write icon"></i> Editovat
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- END all reservations table -->