<!-- new user form -->

<div class="ui attached message">
    <div class="header">
        Rezervace
    </div>
</div>
<form class="ui form attached fluid segment">
    <div class="field required">
        <label>Zákazník</label>
        <div class="ui floating labeled icon dropdown button">
            <i class="user icon"></i>
            <span ng-if="!reservation.customer._id" class="text">Volba zákazníka</span>
            <span ng-if="reservation.customer._id">{{reservation.customer.name}} {{reservation.customer.ID}}</span>
            <div class="menu">
                <div class="item" ng-click="createNewCustomer()">
                    <i class="add user icon"></i> Vytvořit nového zákazníka
                </div>
                <div class="divider"></div>
                <div class="header">
                    Vyhledat zákazníka
                </div>
                <div class="ui left icon input">
                    <i class="search icon"></i>
                    <input type="text" name="search" ng-model="customerSearch" placeholder="Vyhledat...">
                </div>
                <div ng-click="setCustomer(customer)" ng-repeat="customer in customers | filter:customerSearch | limitTo:9" class="item">
                    {{customerToString(customer)}}
                </div>
            </div>
        </div>
    </div>
    <div ng-if="newCustomer">
        <div class="two fields">
            <div class="field">
                <label>Jméno</label>
                <input placeholder="Jméno" type="text" ng-model="reservation.customer.name">
            </div>
            <div class="field">
                <label>Číslo OP</label>
                <input placeholder="Číslo OP" type="text" ng-model="reservation.customer.ID">
            </div>
        </div>
        <div class="field">
            <label>Adresa</label>
            <textarea rows="4" ng-model="reservation.customer.address"></textarea>
        </div>
    </div>
</form>
<form class="ui form attached fluid segment">
    <div class="two fields">
        <div class="field required">
            <label>Počet dospelých</label>
            <input placeholder="Počet dospelých" type="number" min="0"  ng-model="reservation.numberOfAdults">
        </div>
        <div class="field">
            <label>Počet dětí</label>
            <input placeholder="Počet dětí" type="number" min="0" ng-model="reservation.numberOfChildren">
        </div>
    </div>
    <div class="two fields">
        <div class="field required">
            <label>Datum začátku pobytu</label>
            <input type="date" ng-model="reservation.dateFrom" format-date>
        </div>
        <div class="field required">
            <label>Datum konce pobytu</label>
            <input type="date" ng-model="reservation.dateTo" format-date>
        </div>
    </div>
    <div class="field required">
        <label>Pokoj</label>
        <div class="ui floating labeled basic icon dropdown button">
            <i class="list icon"></i>
            <span ng-if="!reservation.room" class="text">Volba pokoje</span>
            <span ng-if="reservation.room">{{roomToString(reservation.room)}}</span>
            <div class="menu">
                <div class="header">
                    Vyhledat pokoj
                </div>
                <div class="ui left icon input">
                    <i class="search icon"></i>
                    <input type="text" name="search" ng-model="roomSearch" placeholder="Vyhledat...">
                </div>
                <div ng-click="setRoom(room)" ng-repeat="room in rooms | filter:roomSearch | limitTo:9" class="item">
                    {{roomToString(room)}} za {{room.price}} CZK
                </div>
            </div>
        </div>
    </div>
    <div class="two fields">
        <div class="field required">
            <label>Typ penze</label>
            <select ng-options="(item.name + ' za ' + item.value + ' CZK') for item in pensionTypes track by item.code" class="ui dropdown"
                    ng-model="reservation.pensionType">
                <option value="">Vyberte penzi</option>
            </select>
        </div>
        <div class="field required">
            <label>Způsob platby</label>
            <select ng-options="item.name for item in paymentTypes track by item.code" class="ui dropdown" ng-model="reservation.paymentType">
                <option value="">Vyberte způsob platby</option>
            </select>
        </div>
    </div>
</form>
<div class="ui attached message">
    <div class="header">
        Služby
    </div>
</div>
<table class="ui celled attached striped table">
    <thead>
        <tr>
            <th>Název služby</th>
            <th>Počet</th>
            <th>Cena za položku</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="editable">
                <select ng-options="item.name for item in services" class="ui dropdown" ng-model="newReservationService.service">
                    <option value="">Vyberte službu</option>
                </select>
            </td>
            <td class="editable">
                <input type="number" min="0" ng-model="newReservationService.count" placeholder="Zadejte počet" />
            </td>
            <td></td>
            <td>
                <a class="ui basic button" ng-click="addService(newReservationService)">
                    <i class="save icon"></i> Vložit
                </a>
            </td>
        </tr>
        <tr ng-repeat="service in reservation.services">
            <td class="editable">
                {{service.service.name}}
            </td>
            <td class="editable">
                <input type="number" ng-model="service.count" placeholder="Zadejte počet" />
            </td>
            <td>
                {{service.service.price}} CZK
            </td>
            <td>
                <a class="ui basic button" ng-click="removeService($index)">
                    <i class="remove red icon"></i> Smazat
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div ng-if="reservation.calculation" class="ui attached message">
    <div class="header">
        Kalkulace
    </div>
</div>
<table ng-if="reservation.calculation" class="ui celled attached striped table calculation">
    <thead>
        <tr>
            <th>Název</th>
            <th>Počet</th>
            <th>Cena za položku</th>
            <th>Suma</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in reservation.calculation.items">
            <td>{{item.name}}</td>
            <td>{{item.count}}</td>
            <td>{{item.price}}</td>
            <td class="align-right">{{item.sum}} CZK</td>
        </tr>
        <tr>
            <td class="bold" colspan="3">Celkem</td>
            <td class="bold align-right">{{item.sum}} CZK</td>
        </tr>
    </tbody>
</table>
<div class="ui bottom attached message">
    <a ng-click="save()" class="ui button fontWhite BGOrange">
        <i class="save icon"></i> Uložit
    </a>
    <span ng-if="reservation._id">
        <a ng-click="reservationStateChanged(1)" class="ui button fontWhite BGOrange" ng-if="reservation.state == 0">
            <i class="check circle outline icon"></i> Potvrdit
        </a>
        <a ng-click="reservationStateChanged(2)" class="ui button fontWhite BGOrange" ng-if="reservation.state == 0">
            <i class="remove circle icon"></i> Stornovat
        </a>
        <a ng-click="reservationStateChanged(3)" class="ui button fontWhite BGOrange" ng-if="reservation.state == 1">
            <i class="calculator icon"></i> Kalkulovat
        </a>
        <a ng-click="reservationStateChanged(4)" class="ui button fontWhite BGOrange" ng-if="reservation.state == 3">
            <i class="dollar icon"></i> Potvrdit platbu
        </a>
    </span>
</div>
